#root {
    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;
}

footer {
    height: 10vh;
}

.layout {
    height: 80vh;
    overflow: auto;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


