.login-from-login-warning {
    color: red;
    margin-bottom: 1rem;
}

.login-page {
    display: flex;
    justify-content: center;
}

.login-page > div {
    display: flex;
    flex-direction: column;
    max-width: 950px;
    width: 50%;
}

.firebase-error {
    color: red;
}

#my-helper-text {
    color: white;
}

@media screen and (max-width: 600px) {
    main > div {
        width: auto;
    }
}